* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdf3e3;
    background: #fdf3e3 url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    padding: 40px 20px;
}


.container {
    max-width: 85%;
    margin: 0 auto;
}


.page-title {
    color: #b46114;
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3.5rem;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3.5rem;
}

.card {
    background-color: #fdf3e3;
    border: 4px solid #c06215;
    border-radius: 15px;
    padding: 2.5rem;
    width: 22%;
    min-width: 22%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.card-title {
    color: #000000;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 15px;
}

.add-card {
    justify-content: center;
    cursor: pointer;
}

.add-card:hover {
    background-color: #fbdfbb;
}

.plus-icon {
    font-size: 5rem;
    color: #c04515;
    font-weight: bold;
}

.btn {
    background-color: #ffffff;
    color: #c05915;
    border: 2px solid #c04b15;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border-radius: 7px;
}

.btn:hover {
    background-color: #fbdfbb;
}

.btn-secondary {
    margin-top: 20px;
}


.no-polls {
    color: #000000;
    background-color: #fff9f1;
    border: 3px solid #000000;
    border-radius: 8px;
    margin: auto;
    max-width: 60%;
    padding: 20px;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
}


.vote-form {
    margin-bottom: 30px;
}


.choices-container {
    margin-bottom: 20px;
    width: 60%;
    margin: 0 auto;
}

.choice-option {
    display: block;
    background-color: #fff9f1;
    border: 2px solid #c04515;
    border-radius: 4px;
    padding: 15px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #000000;
}

.choice-option:hover {
    background-color: #fbdfbb;
}

.choice-option input {
    margin-right: 10px;
}


.poll-summary {
    margin: 30px auto;
    padding: 20px;
    border: 2px solid #c04515;
    border-radius: 8px;
    background-color: #ffffff;
    width: 60%;
}

.poll-summary h2 {
    color: #c04515;
    margin-bottom: 15px;
}

.summary-item {
    background-color: #fff9f1;
    border: 2px solid #c04515;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

.choice-name {
    font-weight: bold;
}


.error-message {
    color: #c62828;
    background-color: #ffebee;
    border: 1px solid #c62828;
    padding: 10px;
    border-radius: 4px;
    max-width: 60%;
    margin: 0 auto 2rem;
    text-align: center;
}


.create-form {
    background-color: #fff9f1;
    border: 2px solid #c04515;
    border-radius: 8px;
    padding: 30px;
    width: 70%;
    margin: 0 auto;
}

.create-form h2 {
    color: #c04515;
    margin: 20px 0 15px 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #000000;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.4rem;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #c04515;
    border-radius: 4px;
    font-size: 1rem;
}

.form-buttons .btn {
    margin: 10px 30px 0px 0px;
    padding: 12px 30px;
}


.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.action-buttons-right {
    display: flex;
    gap: 10px;
}

.btn-delete {
    background-color: #c2001d;
    color: #ffffff;
    border: 2px solid #000000;
}

.btn-delete:hover {
    background-color: #7e0000;
    color: #e6e6e6;
}

.btn-update {
    background-color: #1565c0;
    color: #ffffff;
    margin-right: 0;
    border: 2px solid #000000;
}

.btn-update:hover {
    background-color: #0d47a1;
    color: #e6e6e6;
}

.confirm-box {
    background-color: #fff9f1;
    border: 2px solid #c04515;
    border-radius: 8px;
    padding: 40px;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
}

.confirm-title {
    color: #c04515;
    font-size: 2rem;
    margin-bottom: 20px;
}

.confirm-question {
    color: #000000;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.confirm-message {
    color: #000000;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.confirm-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
