{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Poll</title>
    {% comment %} <link rel="stylesheet" href="{% static 'polls/style.css' %}"> {% endcomment %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body>
    <div class="max-w-[85%] mx-auto">
        <h1 class="text-[#0a0500] text-center mb-13 text-[3.5rem] font-extrabold">Create New Poll</h1>
        
        <form method="post" class="bg-[#fff9f1] border-2 border-[#c04515] rounded-lg p-7 w-[70%] mx-auto">
            {% csrf_token %}
            
            <div class="mb-4">
                <label for="id_question_text" class="block text-black mb-0 font-semibold text-[1.4rem]">Question</label>
                {{ form.question_text }}
            </div>
            
            {{ choice_formset.management_form }}
            
            {% for choice_form in choice_formset %}
            <div class="mb-4">
                <label class="block text-black mb-0 font-semibold text-[1.4rem]">Choice {{ forloop.counter }}</label>
                {{ choice_form.choice_text }}
            </div>
            {% endfor %}
            
            <div class="mt-[-10px]">
                <button type="submit" class="bg-white text-[#c05915] border-2 border-[#c04b15] py-2 px-8 text-[1.2rem] font-bold cursor-pointer rounded-[7px] hover:bg-[#fbdfbb] mr-8">
                    Create Poll
                </button>
                <a href="{% url 'polls:index' %}" class="bg-white text-[#c05915] border-2 border-[#c04b15] py-2 px-8 text-[1.2rem] font-bold no-underline rounded-[7px] cursor-pointer hover:bg-[#fbdfbb] mt-5 inline-block">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</body>
</html>
