<h2> Welcome to the POLL app</h2>

<a href="{% url 'polls:create' %}"><button type="button">+ Create New Poll</button></a><br><br>

{% if latest_question_list %}
<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>Question</th>
            <th>Publish Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for question in latest_question_list %}
        <tr>
            <td>{{ question.question_text }}</td>
            <td>{{ question.pub_date }}</td>
            <td>
                <a href="{% url 'polls:detail' question.id %}">View</a> -- <a href="{% url 'polls:delete' question.id %}">Delete</a> -- <a href="{% url 'polls:update' question.id %}">Update </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No polls are available.</p>
{% endif %}
